header {
	/* Not sure if it's an absolute or static header */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;


	/* Just here to illustrate the actual size of the header */
	/*border-bottom: 1px solid black;*/
}

.blue {
	background-color: #151f27; /* Replace with textured background */
}

.red {
	background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(244, 93, 100, 0) 100%;
}

/* Nav Alignments */

nav {
	display: flex;
	padding: 21px 25px 21px 60px;
}

nav > div {
	flex: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

nav > div > * {
	/* Maybe not the best solution long term but works for now
	until we have other breakpoints designed */
	flex-shrink: 0;
}

nav > div:not(:first-child) {
	padding-top: 11px;
	padding-bottom: 1px;
}

nav > div:nth-child(2) {
	justify-content: center;
}

nav > div:nth-child(3) {
	justify-content: flex-end;
}

/* Nav logo and breadcrumb */

nav .logo {
	height: 60px;
	width: 60px;
}

nav .breadcrumb {
	margin-left: 16px;
	color: #b5b5b5;
	letter-spacing: 0;
}

/* Nav Links */
nav > div:nth-child(3) > *:not(:first-child) {
	margin-left: 29px;
}

nav > div:nth-child(3) > a {
	color: #cccccc;
}