.side-bar {
	height: 100vh;
	width: 180px;

	padding: 35px 0;

	display: flex;
	flex-direction: column;	
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
}

/* Navigator Styling */
.side-bar > .navigator {
	display: flex;
	align-items: center;
}

.side-bar > .navigator li {
	cursor: pointer;
}

/* Dots */
.side-bar > .navigator > .dots {
	padding-left: 18px;
	flex-basis: 12px;
}

.side-bar > .navigator .dots > li {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.19);
}

.side-bar > .navigator .dots > li:not(:first-of-type) {
	margin-top: 16px;
}

.side-bar > .navigator .dots > li.selected {
	background-color: rgba(255, 255, 255, 1);
	transform: scale(1.125);
}

/* Icons */
.side-bar > .navigator > .icons {
	padding-left: 34px;
}

.side-bar > .navigator .icons > li {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: rgba(42, 46, 50, 0.33);

	background-repeat: no-repeat;
	background-position: center;
}

.side-bar > .navigator .icons > li:not(:first-of-type) {
	margin-top: 16px;
}

.side-bar > .navigator .icons > li.selected {
	background-color: #1b1b1d;
	border: 2px solid #78d0f8;
}

/* Profile Styling */

.side-bar .profile {
	position: absolute;
	left: 54px;
	bottom: 35px;
	text-align: center;
}

.side-bar .profile .dp {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: white;
	margin-bottom: 12px;
}

.side-bar .profile button {
	height: 30px;
	width: 30px;
}

.side-bar .profile button:not(:first-child) {
	margin-left: 12px;
}

.side-bar .profile button.wallet {
	border-radius: 10px;
	background-color: rgba(244, 93, 100, 0.2);
	border: 2px solid #f45d64
}

.side-bar .profile button.darkmode-toggle {
	background-image: url("assets/Round2.png");
	background-size:  35px 35px;
	background-position: center;
	background-color: #172c3c;

	border: 2px solid #78d0f8;	
	border-radius: 50%;
}