/* Not sure how you guys are handling fonts so I'll just use system font */
body, button, input {
	font-family: 'Univia Pro', sans-serif;
	letter-spacing: 0.2px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100%;
	background-color: #220241;
}

#root > div > h1 {
	font-size: 24px;
	color: white;
	margin-bottom: 16px;
}

#root > div > h2 {
	font-size: 18px;
	color: white;
}

#root > div > p {
	font-size: 16px;
	color: white;
}