header {
	/* Not sure if it's an absolute or static header */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;


	/* Just here to illustrate the actual size of the header */
	/*border-bottom: 1px solid black;*/
}

/* Nav Alignments */

nav {
	position: relative;
	display: flex;

	padding: 11px 17px; 

	background: var(--background-blue-card);
	border-radius: var(--box-radius);
	box-shadow: var(--glow-pimary);
}

nav::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	height: 100%;
	width: 100%;

	border-radius: var(--box-radius);
	border: 1px solid #AF4CFF;
	box-shadow: var(--glow-pimary);
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav > div {
	flex: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

nav > div > * {
	/* Maybe not the best solution long term but works for now
	until we have other breakpoints designed */
	flex-shrink: 0;
}

nav > div:not(:first-child) {
	/*padding-top 11px;*/
	/*padding-bottom: 1px;*/
}

nav > div:nth-child(2) {
	justify-content: flex-end;
}

nav > div:nth-child(2) > *:not(:last-child) {
	margin-right: 10px;
}