.tableContainer {
	width: 100%;
}

.table {
	width: 100%;
}

/* Search header */
.searchHeader {
	display: flex;

	width: 100%;
	padding: 15px 20px;
	
	align-items: center;
}

.searchHeaderButtons {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.search {
	flex-grow: 1;
}

/* Table Header */

.table th {
	color: var(--color-accent-1-light);
	font-weight: 700;
}

/* Table */
.table tbody {
	font-weight: 500;
}

.table th, .table td {
	padding: 11px;
	vertical-align: top;
}

.table th:first-child, .table td:first-child {
	padding-left: 30px;
}

.table th:last-child, .table td:last-child {
	padding-right: 30px;
}

.ticker {
	color: var(--color-accent-1-light);
	font-weight: 700;
}

.positive {
	color: var(--color-green-2);
}

.negative {
	color: var(--color-red);
}

.positive > div, .negative > div {
	content: ' ';
	width: 0; 
    height: 0; 

	margin-top: 4px;
	margin-right: 4px;
}

.positive > div {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--color-green-2);
}

.negative > div {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-red);	
}

/* Table alignments */
.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.right > * {
	float: right;
}