/* Cards */
.assetCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;

	padding: 22px 23px 27px 23px;

	width: 370px;
	height: 186px;

	background-color: rgba(244, 93, 100, 0.14);
	border-radius: 12px 75px 12px 12px;
	border: 2px solid rgba(244, 93, 100, 0.36);
}

.assetCard h4 {
	font-size: 14px;
	text-transform: uppercase;
	color: #c2c2c9;
}

.amount {
	font-size: 24px;
	color: #f45d64;
}

.subtext {

}

/* Metrics Bar */

.bar {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	width: 100%;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.bar::-webkit-scrollbar {
  display: none;
}

.bar > *:not(:first-child) {
	margin-left: 17px;
}