header {
	/* Not sure if it's an absolute or static header */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(244, 93, 100, 0) 100%); /* Replace with textured background */

	/* Just here to illustrate the actual size of the header */
	/*border-bottom: 1px solid black;*/
}

/* Nav Alignments */

nav {
	display: flex;
	padding: 21px 60px 21px 60px;
}

nav > div {
	flex: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

nav > div > * {
	/* Maybe not the best solution long term but works for now
	until we have other breakpoints designed */
	flex-shrink: 0;
}

nav > div:not(:first-child) {
	/*padding-top 11px;*/
	/*padding-bottom: 1px;*/
}

nav > div:nth-child(2) {
	justify-content: center;
}

nav > div:nth-child(3) {
	justify-content: flex-end;
}

/* Nav logo and breadcrumb */

nav .logo {
	height: 60px;
	width: 60px;
}

nav .breadcrumb {
	margin-left: 16px;
	color: #b5b5b5;
	letter-spacing: 0;
}

/* Search Bar */

nav .search-bar {
	position: relative;
}

nav .search-bar input {
	width: 330px;
	background-color: rgba(115, 201, 241, 0.06);
	border-radius: 31px;
	padding: 15px 31px 13px 31px;

	/* Text */
	text-align: left;
	font-size: 16px;
	color: white;
}

nav .search-bar button {
	position: absolute;
	right: 0;
	top: 0;
	height: 47px;
	width: 49px;
	border-radius: 31px;
	background-color: #172c3c;
	background-position: center;
	background-size: 18px 18px;
	background-repeat: no-repeat;
}

nav .search-bar input::placeholder {
	color: #727272;
	font-size: 16px;
}

/* Nav Links */
nav > div:nth-child(3) > *:not(:first-child) {
	margin-left: 29px;
}

nav > div:nth-child(3) > a {
	color: #cccccc;
}


/* Darkmode Toggle */
nav button.darkmode-toggle {
	height: 41px;
	width: 41px;
	background-color: #172c3c;
	border-radius: 50%;
}