.searchBar {
	position: relative;
	border-radius: 64px;
}

.searchBar input {
	width: 446px;
	height: 51px;
	background: radial-gradient(50% 50% at 50% 50%, rgba(107, 59, 209, 0) 0%, rgba(105, 3, 141, 0.33) 100%);
	border-radius: 31px;
	padding: 17px 63px 13px 31px;

	/* Text */
	text-align: left;
	font-size: 16px;
	color: white;
}

.searchBar button {
	position: absolute;
	right: 0;
	top: 0;
	height: 51px;
	width: 68px;
	border-radius: 31px;
	background-color: rgba(0,0,0,0);
	box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.15);
	background-image: url('../assets/search-icon.svg');
	background-position: center;
	background-size: 29px 28px;
	background-repeat: no-repeat;
}

.searchBar input::placeholder {
	color: white;
	font-size: 16px;
}